* {
  margin: 0;
  padding: 0;
}

body {
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  div {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    border: 1px burlywood;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
  }

  .text h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
  }

  .text p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }

  .text h4 {
    margin-top: 10px;
    font-size: 13px;
    color: #777;
  }
  .container{
    background-color: pink;
  }

